@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --orange: #ec5408;
  --red: #ad180a; 
  --yellow: #d8caa1;
  --black: #130f0b;
  --pink: #f27483;
  --white: #f0f0f0;

  --title-size: 3.5rem;
  --sub-title-size: 1.8rem;
  --mobile-navbar-link-size: 1.15rem;
  --button-text-size: 2rem;
  --text-size-1: 1.6rem;
  --text-size-2: 1.4rem;

  --title-weight: 800;
  --sub-title-weight: 600;
  --link-weight: 600;
  --button-weight: 700;
  --text-weight: 500;

  --shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'tbh+c';
  src: url('./fonts/tranquility-base-hotel-casino.ttf') format('truetype');
}

body {
  font-family: "Raleway", sans-serif;
  /* font-family: "tbh+c", sans-serif; */
}